.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
}
.heading_div
{
  float:none;
  background: white ; 
  padding:10px;
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
}
.heading_div2
{
  font-size: 18px ;
}
.result_para_tag
{
  box-shadow:5px 5px 5px black;
  font-size: 25px;
}
body
{
  background-size: cover;
}

.result_para_tag span{
  white-space: pre-line;
}

.copy_right_footer{
  color: red;
  background-color: lightgray;
  font-size: 25px;
  position: fixed;
  bottom:0; 
  width: 100%;
  text-align: center;
  line-height: 2;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}